@font-face {
  font-family: "Frutiger";
  src: url("Frutiger-Bold.woff2") format("woff2"),
    url("Frutiger-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger";
  src: url("Frutiger-Bold.woff2") format("woff2"),
    url("Frutiger-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
