.progress-slide-wrapper {
  width: 100%;
  height: 100%;
}

.progress-slide-inner {
  width: 100%;
  height: 100%;
  background: #ebeade;
}

.progress-slide-fill {
  display: block;
  width: 100%;
  height: 100%;
  background: #424242;
}
