$tinyFontSize: 12px;
$smallFontSize: 13px;
$regFontSize: 15px;
$FontSize2: 18px;
$FontSize3: 30px;

$fontSizeH1: 44px;
$fontSizeH2: 33px;
$fontSizeH3: 27px;
$fontSizeH4: 23px;
$fontSizeH5: 16px;
$fontSizeH6: 14px;

$fontSizeH1m: 33px;
$fontSizeH2m: 27px;
$fontSizeH3m: 22px;
$fontSizeH4m: 14px;
$fontSizeH5m: 14px;
$fontSizeH6m: 13px;

$fontSizeTitle: 27px;
$fontSizeTitleSm: 23px;

$fontSizeTitle08: 22px;
$fontSizeTitle09: 25px;
$fontSizeTitle12: 33px;
$fontSizeTitle15: 40px;
$fontSizeBody: 14px;
$fontSizeBody08: 12px;
$fontSizeBody09: 14px;
$fontSizeBody12: 18px;
$fontSizeBody15: 24px;
$fontSizeBody2: 33px;

$fontSizeTitle3: 80px;
$fontSizeTitle2: 55px;
$fontSizeTitle4: 110px;

$fontSizeMenu: 13px;

$fontSizeFooter09: 13px;
$fontSizeFooter11: 15px;
$fontSizeFooter12: 16px;

$titleWeight: 600;

//
$headerAlertFontSize: $smallFontSize;
$sliderProductTitle: $smallFontSize;
$sliderProductIntroSize: $smallFontSize;
$categoryProductFontSize: $smallFontSize;
$btnFontSize: $smallFontSize;
$quoteTextSize: $smallFontSize;

$fontSizeFooter: $smallFontSize;
$fontSizeFooterMenuTitle: $smallFontSize;
$fontSizeFooterMenuTitle: $smallFontSize;
$fontSizeFooterInput: $fontSizeH4;

$labelFontSize: $smallFontSize;
$InputFontSize: $smallFontSize;

$copyFontSize: $tinyFontSize;

$sideBarWidth: 350px;
$sideBarOffset: 14px;
$totalSideWidth: $sideBarWidth + $sideBarOffset;

$headerHeight: 110px;
